#dinosaur_button
{
    font-size: 30;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 400px;
}

#elephant_button
{
    font-size: 30;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 400px;
}

#hand_button
{
    font-size: 30;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 400px;
}

#hat_button
{
    font-size: 30;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 400px;
}

#pen_button
{
    font-size: 30;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 400px;
}